@model NimaApp.Models.ProductMaster



<h2>Add Product</h2>

@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, "Select Category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group m-3">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-success" type="submit" value="Submit" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back To List", "getdata", "Product", new {@class= "btn btn btn-secondary" })
</div>
